* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #003b16;
    overflow-x: hidden;
    color: white;
}

header {
    width: 100%;
    height: 95px;
    background: #00511b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.logo img {
    width: 85px;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
    background: rgba(128, 170, 90, 0.5);
    padding: 14px 35px;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #102d12;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #d7ff2f;
}

.donate-btn {
    text-decoration: none;
    background: #9bb33d;
    color: #d7ff2f;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

/* CONTAINER */

.container {
    width: 100%;
    min-height: calc(100vh - 95px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.texto h1 {
    font-size: 45px;
    line-height: 1.05;
    font-weight: bold;
}

.texto span {
    color: #c8ff00;
}

.valores {
    text-align: center;
}

.valores h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 25px;
}

.grid button {
    width: 120px;
    height: 70px;
    border: none;
    border-radius: 18px;
    background: #4d783b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.grid button:hover {
    background: #6a9a52;
}

.botoes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login-btn {
    text-decoration: none;
    background: #4d783b;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

.login-btn:hover {
    background: #6a9a52;
}
